.stepFour {
  margin-top: -50px;
}

.hash-step-four {
  max-width: 700px;
}

.stepFour-checkboxes {
  margin-bottom: 50px;
}

.hash-link {
  color: blue;
  margin-left: 5px;
  text-decoration: underline;
}

.checkboxes-wrapper {
  display: flex;
  align-items: center;
}